* {
  margin: 0;
  border: 1px solid red; }

.subscription {
  padding-top: .25rem;
  padding-bottom: .25rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
  background-color: #6c5736; }

#five-dollar {
  color: white; }

.store {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .store span {
    width: 1.5rem; }
  .store #pin {
    text-decoration: none;
    color: white;
    background-color: #bea586;
    padding-right: .25em; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  height: 3rem;
  margin-top: .75rem;
  background-color: #f4f4f4;
  padding-top: .25rem; }
  header #logo {
    width: 20%;
    height: 60%;
    margin-left: 10rem; }

nav a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  margin-left: .25rem;
  margin-right: .25rem;
  font-size: .75rem;
  font-family: 'Nunito', sans-serif; }

.sign-in {
  display: flex;
  flex-direction: row;
  padding-right: .25rem; }
  .sign-in a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    margin-left: .25rem;
    margin-right: .25rem;
    font-size: .75rem;
    font-family: 'Nunito', sans-serif; }
  .sign-in #search {
    position: relative;
    width: 2rem;
    height: 35%; }
  .sign-in #cart {
    position: relative;
    margin-right: .25rem;
    width: 2rem;
    height: 35%;
    margin-right: 4rem; }

#woman {
  width: 100%; }

.ejo {
  display: flex;
  flex-direction: row; }
  .ejo .text {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    position: relative;
    top: 5rem;
    bottom: 10rem;
    width: 50%;
    height: 15rem; }
  .ejo #top-header {
    text-transform: uppercase;
    color: #8b6f4e;
    font-size: 1em; }
  .ejo h1 {
    font-size: 2rem; }
  .ejo button {
    background-color: #8b6f4e;
    color: white; }
  .ejo p {
    text-align: center;
    margin-left: .35em;
    margin-right: .35em;
    font-family: 'Nunito', sans-serif; }
  .ejo .ejo-pic {
    width: 50%; }
    .ejo .ejo-pic #land {
      width: 100%; }

.shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }
  .shop h1 {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    text-align: center; }
  .shop p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-left: .45em;
    margin-right: .45em; }
  .shop img {
    padding-left: .50rem;
    padding-right: .50rem;
    width: 80%;
    align-self: center; }
  .shop .coffee {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    .shop .coffee .vl-1 {
      background-color: #8b6f4e;
      width: 10rem;
      align-self: center; }
  .shop .tea {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    .shop .tea .vl-2 {
      background-color: #8b6f4e;
      width: 9rem;
      align-self: center; }
  .shop .equipment {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    .shop .equipment .vl-3 {
      background-color: #8b6f4e;
      width: 15rem;
      align-self: center; }

.coffee-click {
  display: flex;
  flex-direction: row;
  width: 100%; }

.text2 {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 2rem;
  margin-top: 4.5rem; }
  .text2 #coffee-bags {
    width: 60%;
    height: 30%;
    align-self: center;
    margin-bottom: 1.5rem; }
  .text2 h1 {
    text-align: center;
    font-family: 'Nunito', sans-serif; }
  .text2 p {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-left: .45em;
    margin-right: .45em; }
  .text2 .order {
    width: 50%; }
    .text2 .order .signage {
      width: 100%; }

#location {
  width: 45%; }

.team {
  margin-top: 1rem; }
  .team h1 {
    font-size: 15%;
    letter-spacing: 0.25em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase; }
  .team .openings {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    .team .openings img {
      width: 20%;
      height: 35%;
      padding-left: 2em;
      padding-right: 2em; }

#beans {
  width: 100%; }

section {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  text-align: center; }
  section .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem; }
  section .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem; }
  section h4 {
    text-transform: uppercase; }
  section p {
    text-transform: capitalize; }

#footer {
  width: 100%; }

@media screen and (max-width: 1200px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .sign-in {
      display: none; }
    header nav {
      margin-right: 5rem; } }

/*# sourceMappingURL=output.css.map */
