.subscription {
  padding-top: .25rem;
  padding-bottom: .25rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
  background-color: #6c5736; }

#five-dollar {
  color: white; }

.store {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .store span {
    width: 1.5rem; }
  .store #pin {
    text-decoration: none;
    color: white;
    background-color: #bea586;
    padding-right: .25em; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  height: 3rem;
  margin-top: .75rem;
  background-color: #f4f4f4;
  padding-top: .25rem; }
  header #logo {
    width: 20%;
    height: 60%;
    margin-left: 10rem; }

nav a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  margin-left: .25rem;
  margin-right: .25rem;
  font-size: .75rem;
  font-family: 'Nunito', sans-serif; }

.sign-in {
  display: flex;
  flex-direction: row;
  padding-right: .25rem; }
  .sign-in a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    margin-left: .25rem;
    margin-right: .25rem;
    font-size: .75rem;
    font-family: 'Nunito', sans-serif; }
  .sign-in #search {
    position: relative;
    width: 2rem;
    height: 35%; }
  .sign-in #cart {
    position: relative;
    margin-right: .25rem;
    width: 2rem;
    height: 35%;
    margin-right: 4rem; }

#woman {
  width: 100%; }

.ejo {
  display: flex;
  flex-direction: row; }
  .ejo .text {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    position: relative;
    top: 5rem;
    bottom: 10rem;
    width: 50%;
    height: 15rem; }
  .ejo #top-header {
    text-transform: uppercase;
    color: #8b6f4e;
    font-size: 1em;
    margin-top: 0; }
  .ejo h1 {
    font-size: 2rem; }
  .ejo button {
    background-color: #8b6f4e;
    color: white; }
  .ejo p {
    text-align: center;
    margin-left: .35em;
    margin-right: .35em;
    font-family: 'Nunito', sans-serif; }
  .ejo .ejo-pic {
    width: 50%; }
    .ejo .ejo-pic #land {
      width: 50vw; }

.shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }
  .shop h1 {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    text-align: center; }
  .shop p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-left: .45em;
    margin-right: .45em; }
  .shop img {
    padding-left: .50rem;
    padding-right: .50rem;
    width: 80%;
    align-self: center; }
  .shop .coffee {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    .shop .coffee .vl-1 {
      background-color: #8b6f4e;
      width: 10rem;
      align-self: center; }
  .shop .tea {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    .shop .tea .vl-2 {
      background-color: #8b6f4e;
      width: 9rem;
      align-self: center; }
  .shop .equipment {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    .shop .equipment .vl-3 {
      background-color: #8b6f4e;
      width: 15rem;
      align-self: center; }

.coffee-click {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  width: 90vw; }
  .coffee-click .text2 {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin-top: 1.5rem;
    margin-bottom: 4.5rem; }
    .coffee-click .text2 #coffee-bags {
      width: 60%;
      height: 30%;
      align-self: center;
      margin-bottom: 1.5rem; }
    .coffee-click .text2 h1 {
      text-align: center;
      font-family: 'Nunito', sans-serif; }
    .coffee-click .text2 p {
      font-family: 'Nunito', sans-serif;
      text-transform: uppercase;
      text-align: center;
      margin-left: .45em;
      margin-right: .45em; }
    .coffee-click .text2 button {
      background-color: #8b6f4e;
      color: white; }
  .coffee-click .order {
    width: 50vw; }
    .coffee-click .order .signage {
      width: 80%;
      padding-top: .50rem;
      padding-bottom: .50rem;
      padding-left: .50rem;
      padding-right: .50rem; }

#location {
  width: 50%; }

.team {
  margin-top: 1rem; }
  .team h1 {
    font-size: 15%;
    letter-spacing: 0.25em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase; }
  .team .openings {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    .team .openings img {
      width: 20%;
      height: 35%;
      padding-left: 2em;
      padding-right: 2em; }

#beans {
  width: 100%; }

section {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  text-align: center; }
  section .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem; }
  section .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem; }
  section h4 {
    text-transform: uppercase; }
  section p {
    text-transform: capitalize; }

#footer {
  width: 100%; }

@media screen and (max-width: 1200px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .sign-in {
      display: none; }
    header nav {
      margin-right: 5rem; }

  section p {
    font-size: .75em; }

  #social {
    width: 20vw;
    height: 5vh;
    margin-right: 10rem; } }
@media screen and (max-width: 1145px) {
  .subscription {
    display: none; }

  header .sign-in {
    display: none; }
  header nav {
    display: none; }
  header #logo {
    position: relative;
    left: 7rem; }

  .shop img {
    width: 25vw; }

  section h4 {
    font-size: .50em; }
  section p {
    font-size: .50em; }

  .ejo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0; }
    .ejo .text {
      margin-bottom: 2rem; }
      .ejo .text #top-header {
        margin-top: 0;
        margin-bottom: 0; }
      .ejo .text h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2rem; }
    .ejo .ejo-pic {
      width: 80vw;
      margin-bottom: 1rem; }

  .row1 h4 {
    display: none; }
  .row1 p {
    display: none; }

  .row2 .col-one {
    display: none; }
  .row2 #social {
    margin-left: 10rem; } }
@media screen and (max-width: 770px) {
  .subscription {
    display: none; }

  header #logo {
    position: relative;
    left: 3rem; }
  header nav {
    display: none; }

  #woman {
    width: 85vw; }

  .ejo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .ejo .text {
      margin-top: 0; }
      .ejo .text h1 {
        font-size: 1rem; }
    .ejo #ejo-pic {
      width: 100vw; }

  .shop {
    display: flex;
    flex-wrap: wrap; }
    .shop img {
      width: 40vw; }
    .shop p {
      font-size: 1.15rem; }

  .coffee-click {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .coffee-click .text2 p {
      font-size: 1rem; }
    .coffee-click .order {
      margin-bottom: 2em; }

  .team h1 {
    font-size: 1.15em; }

  .openings {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .openings .photo {
      width: 200%; }

  #beans {
    display: none; }

  #social {
    display: none; } }

/*# sourceMappingURL=output.css.map */
