* {
  margin: 0;
  border: 1px solid red; }

.subscription {
  padding-top: .25rem;
  padding-bottom: .25rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
  background-color: #6c5736; }

#five-dollar {
  color: white; }

.store {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .store span {
    width: 1.5rem; }
  .store #pin {
    text-decoration: none;
    color: white;
    background-color: #bea586;
    padding-right: .25em; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin-top: .75rem;
  background-color: #f4f4f4;
  padding-top: .25rem; }
  header #logo {
    position: relative;
    margin-left: 2rem;
    width: 25%;
    height: 35%; }

nav a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  margin-left: .25rem;
  margin-right: .25rem;
  font-size: .75rem;
  font-family: 'Nunito', sans-serif; }

.sign-in {
  display: flex;
  flex-direction: row; }
  .sign-in a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    margin-left: .25rem;
    margin-right: .25rem;
    font-size: .75rem;
    font-family: 'Nunito', sans-serif; }
  .sign-in #search {
    position: relative;
    width: 2rem;
    height: 35%; }
  .sign-in #cart {
    position: relative;
    margin-right: .25rem;
    width: 2rem;
    height: 35%; }

#woman {
  width: 100%; }

.ejo {
  display: flex;
  flex-direction: row; }
  .ejo .text {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    position: relative;
    top: 100px;
    bottom: 100px; }
  .ejo #top-header {
    text-transform: uppercase;
    color: #8b6f4e;
    font-size: 15px; }
  .ejo h1 {
    font-size: 30px; }
  .ejo button {
    background-color: #8b6f4e;
    color: white; }
  .ejo p {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Nunito', sans-serif; }

.shop {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .shop h1 {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    text-align: center; }
  .shop p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px; }
  .shop .coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px; }
    .shop .coffee .vl-1 {
      background-color: #8b6f4e;
      width: 175px;
      align-self: center; }
  .shop .tea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px; }
    .shop .tea .vl-2 {
      background-color: #8b6f4e;
      width: 115px;
      align-self: center; }
  .shop .equipment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px; }
    .shop .equipment .vl-3 {
      background-color: #8b6f4e;
      width: 220px;
      align-self: center; }

.coffee-click {
  display: flex;
  flex-direction: row; }

.text2 {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .text2 #coffee-bags {
    width: 100%; }
  .text2 .order .signage {
    width: 30%;
    height: 30%; }

/*# sourceMappingURL=output.css.map */
