@media screen and (max-width: 1200px) {
  header {
    display: flex;
    align-items:center;
    justify-content: space-between;
      .sign-in {
        display: none;
      }
      nav {
        margin-right: 5rem;
      }
  }
}
